.footer-area{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background-color: #162d52;
    /* padding: 20px; */
    padding-top: 50px;
}

.footer_container{
    border: 2px solid red;
    height: 700px;
}

.container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid brown;
    background-image: url('./Components/Home/footerBackground.webp');
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.subscribe_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    width: 100%;
    height: auto;
    /* background-color: white; */
    /* max-width: 1140px; */
}

.ai-subscribe-content>h2{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 20px;
}

.input_btn{
    height: 52px;
    width: 522px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 40px;
    background-color: white;
}

.ai-subscribe-content input{
    padding-left: 30px;
    height: 50px;
    /* width: 522px; */
    width: 200%;
    outline: none;
    border: none;
    border-radius: 40px;
}

.ai-subscribe-content button{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    /* border: 40px; */
    border-radius: 40px;
    background-color: #f27f3d;
    color: white;
    font-size: large;
    font-weight: bolder;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid yellow;
}

.logo-container{
    border: 2px solid orange;
    margin: 20px;
    width: 300px;
    height: 430px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container_all .logo-container{
    border: 2px solid orange;
    margin: 20px;
    width: 300px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.all-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-left: 10px;
    gap: 20px;
}

.service-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    border: 2px solid black;
    height: 100%;
}

.quick-link{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    border: 2px solid blueviolet;
    height: 100%;
}

.contacts-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid orange;
}