.sec6{
    /* border: 2px solid yellow; */
    height: 580px;
    /* background-image: url("https://media.istockphoto.com/id/1678013882/vector/global-network-connection-world-map-point-and-line-composition-concept-of-global-business.jpg?s=612x612&w=0&k=20&c=uiZwz59T1VUydD1FlBoSYIQ_SfPfw6B8Ac-uU4hW-qM="); */
    background-color: #162d52;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.search_con{
    /* border: 2px solid green; */
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search_con>h1{
    color: white;
    font-weight: 900;
}
.search_bar{
    /* border: 2px solid blue; */
    height: 40px;
    border-radius: 50px;
    width: 400px;
    background-color: white;
}
.search_bar>input{
   height: 85%;
   width: 255px;
   padding: 15px;
   border-radius: 50px;
   border: none;
}
.search_bar>input::placeholder{
    font-size: 15px;
}
.search_bar>input:focus{
    font-size: 15px;
    outline: none;
}

.search_bar>button{
    height: 100%;
    width: 145px;
    border-radius: 50px;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
}
.search_bar>button:hover{
    background-color: rgb(175, 217, 239);
    color: orange;
}
.footcon{
    /* border: 2px solid red; */
    border-bottom:1px solid rgba(64, 63, 117, 0.877);
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    
}
.foot1{
    /* border: 1px solid white; */
    height: 100%;
    width: 280px;
}


.f1,.f2{
     border: 1px solid rgba(64, 63, 117, 0.877);
     border-top: none;
}



.f_img{
    /* border: 2px solid black; */
    height: 230px;
    padding: 10px;
    margin: 0 45px;
}
.f_img>img{
    height: 100%;
    width: 100%;
}
.foot1>p{
    /* padding: 10px; */
    margin: 0 45px;
    color: white;
    font-size: 12px;
    
}
.icons{
    /* border: 2px solid; */
    margin: 0 45px;
   
}
.icons>span{
    margin-right: 10px;
}
.icons>span>i{
    color: white;
    height: 100%;
}
.f2_con{
    /* border: 2px solid white; */
    height: 250px;
    width: 60%;
}
.f2_con>h1{
    color: white;
}
.f1,.f2,.f3{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    border: 1px solid orange;
    width: 30px;
}
.f2_con p{
    color:white;
    font-size: 13px;
    line-height: 30px;
}